body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#divMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  width:100vw;
  height:100vh;
}

#divCollect {
  border: 1px solid red;
  padding: 10px;
}

#divSelect {
  border: 1px solid blue;
  padding: 10px;
}

#divCollect > div , #divSelect > div {
  display: grid;
  grid-template-columns: repeat(4,150px);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.red {
  margin-left: 10px;
  color:red;
}

.divCard {
  border: 1px solid wheat;
  border-radius: 2%;    
  padding: 5px;
  width:150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
