body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#divMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width:100vw;
  height:100vh;
}

#divCollect {
  border: 1px solid red;
  padding: 10px;
}

#divSelect {
  border: 1px solid blue;
  padding: 10px;
}

.red {
  margin-left: 10px;
  color:red;
}

.divCard {
  border: 1px solid wheat;
  border-radius: 2%;
  padding: 10px;
  margin: 5px;
  width:200px;
}
